/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
--pre-button-color: #388bd1;
--post-button-color: #9c2b39;
--header-color: #fff;
--body-color: black;
}


